src/__pycache__/text_utils.cpython-37.pyc
src/__pycache__/text_utils.cpython-38.pyc
src/__pycache__/transformer_models.cpython-37.pyc
src/__pycache__/transformer_models.cpython-38.pyc
model.tar
model/mem
